body{
    box-sizing: border-box;
    height: 100%;
}


header, 
.top-content{
    display:flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    
}

header{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.left-top{
    justify-content: center;
    padding: 40px;
    max-width: 350px;
    margin-left: 300px;
    padding-top: initial;
}

.top-text{
    font-size: 10px;
}

.top-content img{
    margin-right:350px;
}

.top-content{
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: flex-start;

}

button{
    background-color: rgba(0, 187, 255, 0.91);
    color: white;
    padding:10px;
    text-align: center;
    margin-top: 40px;
    width: 70px;
    border-radius: 8px;
}

.monkeys img{
    height: 250px;
    width: 250px;
    border: solid blue;
    border-radius: 8px;
}

.monkey-container{
    display: flex;
    justify-content: center;
    gap:35px
}

.monkeys{
    max-width: 251px;
}

.middle-content{
    text-align: center;
    padding: 50px;
}

.quote{
    font-size: 25px;
    font-style: italic;
    

}

.quote, 
.quoted-person{
    max-width: 500px;
}
.quoted-person{
    font-size: 15px;
    font-weight: bold;
    margin-left: 160px;
    

}

.upper-bottom{
    background-color: lightgray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px
}

body{
    width: 100%;

}
.bottom-content{
    display:flex;
    flex-direction: column;
}
.lower-bottom{
    display:flex;
    color:white;
    background-color:lightskyblue;
    justify-content: space-around;
    align-items: center;
    max-width: fit-content;
    margin: 80px;
    gap: 200px;
    padding: 20px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;

}